<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="sqlConnection" value="Server=localhost;Database=cinar_tickets;Uid=root;Pwd=bk;old syntax=yes;charset=utf8"/>
		<add key="sqlProvider" value="MySQL"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <pages pageBaseType="BasePage"/>
	</system.web>
</configuration>
