<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="sqlConnection" value="Server=localhost;Database=cinar_cms;Uid=root;Pwd=bk;old syntax=yes;charset=utf8"/>
		<add key="sqlProvider" value="MySQL"/>
		<add key="developmentMode" value="true"/>
		<add key="noTransactions" value="false"/>
		<add key="userFilesDir" value="/sample/UserFiles"/>
		<add key="avatarDir" value="UserFiles/Image/_member"/>
		<add key="authorDir" value="UserFiles/Image/_author"/>
		<add key="sourceDir" value="UserFiles/Image/_source"/>
		<add key="uploadDir" value="UserFiles/Image/_upload"/>
		<add key="customAssemblies" value=""/>
		<add key="virtualDir" value="."/>
		<add key="copyright" value=""/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<authentication mode="Forms"/>
		<!--pages pageBaseType="Cinar.CMS.Library.BasePage" validateRequest="false">
      <controls>
        <add tagPrefix="sm" namespace="Cinar.CMS.Library" assembly="Cinar.CMS.Library"/>
      </controls>
    </pages-->
		<httpHandlers>
			<add path="*.ashx" type="Cinar.CMS.Library.Handlers.ASHXHandler" verb="GET,POST"/>
			<add path="*.aspx" type="Cinar.CMS.Library.Handlers.ASPXHandler" verb="GET,POST"/>
		</httpHandlers>
		<httpModules>
			<add type="Cinar.CMS.Library.Handlers.CMSModule, Cinar.CMS.Library, Version=1.0.0.0, Culture=neutral" name="CMSModule"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!--the httprequest.getResponse() method used to throw an exception saying "The server committed a protocol violation. Section=ResponseStatusLine" before writing the node below-->
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true"/>
		</settings>
	</system.net>
	<location path="Admin">
		<system.web>
			<httpHandlers>
				<add verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory"/>
			</httpHandlers>
		</system.web>
	</location>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
</configuration>
