<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="sqlConnection" value="Server=localhost;Database=cinarcms;Uid=root;Pwd=bk;old syntax=yes;charset=utf8"/>
    <!--add key="sqlConnection" value="Data Source=|DataDirectory|\blank.db;Version=3;"/-->
    <add key="sqlProvider" value="MySQL"/>
    <add key="developmentMode" value="false"/>
    <add key="noTransactions" value="false"/>
    <add key="MapPathPrefix" value=""/>
    <add key="userFilesDir" value="/UserFiles"/>
    <add key="imagesDir" value="/UserFiles/Images"/>
    <add key="avatarDir" value="/UserFiles/Images/_member"/>
    <add key="authorDir" value="/UserFiles/Images/_author"/>
    <add key="sourceDir" value="/UserFiles/Images/_source"/>
    <add key="uploadDir" value="/UserFiles/Images/_upload"/>
    <add key="pathToLocalResources" value="K:\work\CSharp\Cinar\Cinar.CMS.Library\Resources"/>
    <add key="customAssemblies" value=""/>
    <add key="virtualDir" value="."/>
    <add key="copyright" value=""/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <globalization culture="tr-TR" uiCulture="tr-TR" />
    <httpRuntime requestValidationMode="2.0"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <httpHandlers>
      <add path="*.ashx" type="Cinar.CMS.Library.Handlers.ASHXHandler" verb="GET,POST"/>
      <add path="*.aspx" type="Cinar.CMS.Library.Handlers.ASPXHandler" verb="GET,POST"/>
    </httpHandlers>
    <httpModules>
      <add type="Cinar.CMS.Library.Handlers.CMSModule, Cinar.CMS.Library, Version=1.0.0.0, Culture=neutral" name="CMSModule"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
  </system.web>
  <!--the httprequest.getResponse() method used to throw an exception saying "The server committed a protocol violation. Section=ResponseStatusLine" before writing the node below-->
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <location path="Admin">
    <system.web>
      <httpHandlers>
        <add verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory"/>
        <add verb="*" path="*.ashx" type="System.Web.UI.SimpleHandlerFactory"/>
      </httpHandlers>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Cinar.CMS.Library.Handlers.ASPXHandler" path="*.aspx" verb="GET,POST" type="Cinar.CMS.Library.Handlers.ASPXHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Cinar.CMS.Library.Handlers.ASHXHandler" path="*.ashx" verb="GET,POST" type="Cinar.CMS.Library.Handlers.ASHXHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add type="Cinar.CMS.Library.Handlers.CMSModule" name="CMSModule"/>
    </modules>
  </system.webServer>
</configuration>
