<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SocialAuthConfiguration" type="Brickred.SocialAuth.NET.Core.SocialAuthConfiguration, Cinar.CMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowLocation="true" />
    <section name="CinarOtherSites" type="Cinar.CMS.Library.Other.CinarDatabaseSection, Cinar.CMS.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowLocation="true" />
  </configSections>
  
  <appSettings>
    <!--<add key="sqlConnection" value="Server=94.73.149.4;Initial Catalog=DB130706034348;User Id=USR130706034348;Password=PSS!U0M5R8%;"/>-->
    <!--<add key="sqlConnection" value="Data Source=|DataDirectory|\cinar.cms.db;Version=3;"/>-->
    <!--<add key="sqlConnection" value="Server=localhost;Database=cinarcms;Uid=root;Pwd=bk;old syntax=yes;charset=utf8"/>-->
    <add key="sqlConnection" value="Server=localhost;Database=hsedbs;Uid=root;Pwd=bkbk;old syntax=yes;charset=utf8"/>
    <add key="sqlProvider" value="MySQL"/>
    <add key="developmentMode" value="false"/>
    <add key="noTransactions" value="false"/>
    <add key="MapPathPrefix" value=""/>
    <add key="userFilesDir" value="/UserFiles"/>
    <add key="imagesDir" value="/UserFiles/Images"/>
    <add key="avatarDir" value="/UserFiles/Images/_member"/>
    <add key="authorDir" value="/UserFiles/Images/_author"/>
    <add key="sourceDir" value="/UserFiles/Images/_source"/>
    <add key="companyDir" value="/UserFiles/Images/_company"/>
    <add key="contactDir" value="/UserFiles/Images/_contact"/>
    <add key="definitionDir" value="/UserFiles/Images/_def"/>
    <add key="eventDir" value="/UserFiles/Images/_event"/>
    <add key="tagDir" value="/UserFiles/Images/_tag"/>
    <add key="projectDir" value="/UserFiles/Images/_project"/>
    <add key="taskDir" value="/UserFiles/Images/_task"/>
    <add key="uploadDir" value="/UserFiles/Images/_upload"/>
    <add key="pathToLocalResources" value="K:\work\CSharp\Cinar\Cinar.CMS.Library\Resources"/>
    <add key="customAssemblies" value=""/>
    <add key="copyright" value=""/>
    <add key="merchantId" value=""/>
    <add key="merchantPassword" value=""/>
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>

  <SocialAuthConfiguration>
    <Providers>
      <!--NO SCOPE-->
      <!--<add ScopeLevel="CUSTOM" WrapperName="FacebookWrapper"  ConsumerKey="152190004803645" ConsumerSecret="64c94bd02180b0ade85889b44b2ba7c4" />
      <add ScopeLevel="CUSTOM" WrapperName="GoogleWrapper"    ConsumerKey="opensource.brickred.com" ConsumerSecret="YC06FqhmCLWvtBg/O4W/aJfj"  />
      <add ScopeLevel="CUSTOM" WrapperName="MSNWrapper"       ConsumerKey="000000004403D60E" ConsumerSecret="cYqlii67pTvgPD4pdB7NUVC7L4MIHCcs"  />
      <add ScopeLevel="CUSTOM" WrapperName="TwitterWrapper"   ConsumerKey="E3hm7J9IQbWLijpiQG7W8Q" ConsumerSecret="SGKNuXyybt0iDdgsuzVbFHOaemV7V6pr0wKwbaT2MH0" />
      <add ScopeLevel="CUSTOM" WrapperName="LinkedInWrapper"  ConsumerKey="9-mmqg28fpMocVuAg87exH-RXKs70yms52GSFIqkZN25S3m96kdPGBbuSxdSBIyL" ConsumerSecret="e6NBqhDYE1fX17RwYGW5vMp25Cvh7Sbw9t-zMYTIW_T5LytY5OwJ12snh_YftgE4" />
      <add ScopeLevel="CUSTOM" WrapperName="MySpaceWrapper"   ConsumerKey="29db395f5ee8426bb90b1db65c91c956" ConsumerSecret="0fdccc829c474e42867e16b68cda37a4c4b7b08eda574fe6a959943e3e9be709" />-->

      <!--DEFAULT-->
      <add  WrapperName="FacebookWrapper" ConsumerKey="1431691133709277" ConsumerSecret="183837e33d6c4662312bd479c5bbfff2" AdditionalScopes="user_photos,read_stream,publish_stream"/>
      <add  WrapperName="GoogleWrapper" ConsumerKey="36839441208.apps.googleusercontent.com" ConsumerSecret="KVOISsRc5cPsJesKrAvFMxXT"  AdditionalScopes="https://www.googleapis.com/auth/userinfo.email" />
      <add  WrapperName="YahooWrapper" ConsumerKey="dj0yJmk9YU90TWhWYTVHQzZRJmQ9WVdrOWMwTXhabUZuTkRRbWNHbzlNQS0tJnM9Y29uc3VtZXJzZWNyZXQmeD1iNg--" ConsumerSecret="0a618bbcbbece48593362df1f0e7a2e1870a48c8"  />
      <add  WrapperName="MSNWrapper" ConsumerKey="000000004403D60E" ConsumerSecret="cYqlii67pTvgPD4pdB7NUVC7L4MIHCcs" AdditionalScopes=""  />
      
      <add  WrapperName="TwitterWrapper" ConsumerKey="E3hm7J9IQbWLijpiQG7W8Q" ConsumerSecret="SGKNuXyybt0iDdgsuzVbFHOaemV7V6pr0wKwbaT2MH0" />
      <add  WrapperName="LinkedInWrapper" ConsumerKey="gtlms72fg5uv" ConsumerSecret="U7dzGQIV7uUz4twR" />
      <add  WrapperName="MySpaceWrapper" ConsumerKey="29db395f5ee8426bb90b1db65c91c956" ConsumerSecret="0fdccc829c474e42867e16b68cda37a4c4b7b08eda574fe6a959943e3e9be709" />
      <!--add  WrapperName="GoogleHybridWrapper" ConsumerKey="opensource.brickred.com" ConsumerSecret="YC06FqhmCLWvtBg/O4W/aJfj"  AdditionalScopes="https://www.googleapis.com/auth/userinfo.profile" /-->
      <!--add  WrapperName="LinkedIn1Wrapper" ConsumerKey="9-mmqg28fpMocVuAg87exH-RXKs70yms52GSFIqkZN25S3m96kdPGBbuSxdSBIyL" ConsumerSecret="e6NBqhDYE1fX17RwYGW5vMp25Cvh7Sbw9t-zMYTIW_T5LytY5OwJ12snh_YftgE4" /-->

    </Providers>
    <Allow Files="popupdemo.aspx|GetToken.aspx|ManualLogin.aspx|Protocols.aspx"  />
    <IconFolder Path="~/images/SocialAuthIcons/" />
    <Authentication Enabled="true" LoginUrl="Default.aspx" DefaultUrl="Default.aspx"  />
    <!--<BaseURL Domain="opensource.brickred.com" Port="9090"/>-->
  </SocialAuthConfiguration>

  <CinarOtherSites>
    <sites>
      <add siteName="local" url="http://localhost" sqlProvider="MySQL" sqlConnection="Server=localhost;Database=cinarcms;Uid=root;Pwd=bk;old syntax=yes;charset=utf8"/>
    </sites>
  </CinarOtherSites>
  
  <connectionStrings/>
  <system.web>
    <globalization culture="tr-TR" uiCulture="tr-TR" />
    <httpRuntime requestValidationMode="2.0"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <httpHandlers>
      <add path="*.ashx" type="Cinar.CMS.Library.Handlers.ASHXHandler" verb="GET,POST"/>
      <add path="*.aspx" type="Cinar.CMS.Library.Handlers.ASPXHandler" verb="GET,POST"/>
    </httpHandlers>
    <httpModules>
      <add type="Cinar.CMS.Library.Handlers.CMSModule, Cinar.CMS.Library, Version=1.0.0.0, Culture=neutral" name="CMSModule"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
  </system.web>
  <!--the httprequest.getResponse() method used to throw an exception saying "The server committed a protocol violation. Section=ResponseStatusLine" before writing the node below-->
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <location path="AspxSayfalari">
    <system.web>
      <httpHandlers>
        <add verb="*" path="*.aspx" type="System.Web.UI.PageHandlerFactory"/>
        <add verb="*" path="*.ashx" type="System.Web.UI.SimpleHandlerFactory"/>
      </httpHandlers>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Cinar.CMS.Library.Handlers.ASPXHandler" path="*.aspx" verb="GET,POST" type="Cinar.CMS.Library.Handlers.ASPXHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="Cinar.CMS.Library.Handlers.ASHXHandler" path="*.ashx" verb="GET,POST" type="Cinar.CMS.Library.Handlers.ASHXHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add type="Cinar.CMS.Library.Handlers.CMSModule" name="CMSModule"/>
    </modules>
  </system.webServer>

</configuration>
