/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Cinar CMS default CSS for effects */

#gogPopDiv {position:absolute; border:1px solid black; background:white; padding:10px}
#gogPopDiv img {width:auto; height:auto;}

.lightBox img {cursor:pointer}
#lightBoxDiv {position:absolute; border:1px solid black; background:white; padding:10px; text-align:center; padding-bottom:60px;}
#lightBoxDiv #lbImg {margin-bottom:10px}
#lightBoxDiv #lbPrev {position:absolute; left:0px; cursor:pointer}
#lightBoxDiv #lbNext  {position:absolute; right:0px; cursor:pointer}
#lightBoxDiv #lbCounter {margin-bottom:20px;}
#lightBoxDiv #lbLeft {width:20%;position:absolute;text-align:left;padding-left: 10px;}
#lightBoxDiv #lbCenter {width:60%;position:absolute}
#lightBoxDiv #lbRight {width:20%;position:absolute;text-align:right}
#lightBoxDiv #lbRight img {vertical-align:middle}
#lightBoxDiv #lbLove {cursor:pointer;}

.masonry {
	position:relative;
}
.masonry img {
	position:absolute;
}

.tag_bg {
	width:97px;
	height:35px;
	background:url(/external/icons/tag_bg2.png);
	font-size:18px;
	padding-left:24px;
	padding-top:4px;
}

.fadeShow {position:relative;}
.fadeShow .indexElms {
	position:absolute;
	z-index:3;
	right:10px;
	bottom:6px;
	cursor:pointer;
}
.fadeShow .clItem {
	position:absolute;
	left:0px;
	top:0px;
}

.fadeWithArrows {position:relative;}
.fadeWithArrows #lbPrev {
	position:absolute;
	z-index:3;
	left:0px;
	top:180px;
	cursor:pointer;
}
.fadeWithArrows #lbNext {
	position:absolute;
	z-index:3;
	right:0px;
	top:180px;
	cursor:pointer;
}
.fadeWithArrows .clItem {
	position:absolute;
	left:0px;
	top:0px;
}

.slideShow {
	border:1px solid #C0C0C0;
	margin-top:40px;
	padding:40px 0px;
	position:relative;
}
.slideShow .clipper {
	height:360px;
	float:left;
	position:relative;
	overflow:hidden;
}
.slideShow .clipper .innerDiv {
	height:360px;
	width:30000px;
	overflow:hidden;
	position:absolute;
	left:0px;
	top:0px;
}
.slideShow .playBtn {
	position:absolute;
	right: 5px;
	bottom: 5px;
	cursor:pointer;
}
.slideShow .pauseBtn {
	position:absolute;
	right: 32px;
	bottom: 5px;
	cursor:pointer;
}
.slideShow div.paging {
	float:left;
	width:40px;
	height:360px;
	background-repeat:no-repeat;
	cursor:pointer;
}

.showDescOnImg {
	position:relative;
}
.showDescOnImg .clDesc {
	position:absolute;
	background: url("/external/icons/black_px_alpha.png") repeat scroll 0 0 transparent;
	color:white;
	padding:5px;
	cursor:pointer;
}