/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
b {font-weight:bold}
i {font-style:italic}

/* all icons*/
.cbtn {background-image:url('/external/icons/all_icons.png'); background-repeat:no-repeat; height:16px; width:16px; display:inline-block; vertical-align:bottom; cursor:pointer;}
.c_db_add {background-position:0px 0px;}
.c_db_delete {background-position:0px -16px;}
.c_db_edit {background-position:0px -32px;}
.c_db_refresh {background-position:0px -48px;}
.c_db_save {background-position:0px -64px;}
.cadd {background-position:0px -80px;}
.cAjanda {background-position:0px -96px;}
.carrow_down {background-position:0px -112px;}
.carrow_up {background-position:0px -128px;}
.caudio {background-position:0px -144px;}
.cAuthor {background-position:0px -160px;}
.cAuthorBox {background-position:0px -176px;}
.cAuthorDetail {background-position:0px -192px;}
.cAuthorLang {background-position:0px -208px;}
.cAuthorList {background-position:0px -224px;}
.cAutoContentListByFilter {background-position:0px -240px;}
.cBanner {background-position:0px -256px;}
.cBannerAd {background-position:0px -272px;}
.cBasket {background-position:0px -288px;}
.cBasketSummary {background-position:0px -304px;}
.cbullet_gray {background-position:0px -320px;}
.cbullet_red {background-position:0px -336px;}
.cbullet_white {background-position:0px -352px;}
.ccache {background-position:0px -368px;}
.ccancel {background-position:0px -384px;}
.ccategory {background-position:0px -400px;}
.cCategoryDisplay {background-position:0px -416px;}
.cCategoryList {background-position:0px -432px;}
.cCategoryPicture {background-position:0px -448px;}
.cChart {background-position:0px -464px;}
.cCirculation {background-position:0px -480px;}
.ccog {background-position:0px -496px;}
.cComments {background-position:0px -512px;}
.cConfiguration {background-position:0px -528px;}
.cConsole {background-position:0px -544px;}
.cContactUs {background-position:0px -560px;}
.cContainer {background-position:0px -576px;}
.cContent, .ccontent {background-position:0px -592px;}
.cContentDisplay {background-position:0px -608px;}
.cContentGallery {background-position:0px -624px;}
.cContentLang {background-position:0px -640px;}
.cContentList {background-position:0px -656px;}
.cContentListByFilter {background-position:0px -672px;}
.cContentListByTag {background-position:0px -688px;}
.cContentPicture {background-position:0px -704px;}
.cContentPictureLang {background-position:0px -720px;}
.cContentSource {background-position:0px -736px;}
.cContentTag {background-position:0px -752px;}
.cContentTools {background-position:0px -768px;}
.ccopy {background-position:0px -784px;}
.ccss {background-position:0px -800px;}
.cdata {background-position:0px -816px;}
.cDatabaseStatus {background-position:0px -832px;}
.cDataConverter {background-position:0px -848px;}
.cDataList {background-position:0px -864px;}
.cdelete {background-position:0px -880px;}
.cDumpData {background-position:0px -896px;}
.cDumpDatabase {background-position:0px -912px;}
.cedit {background-position:0px -928px;}
.ceditor_anchor {background-position:0px -944px;}
.ceditor_bold {background-position:0px -960px;}
.ceditor_font {background-position:0px -976px;}
.ceditor_italic {background-position:0px -992px;}
.ceditor_underline {background-position:0px -1008px;}
.cerror {background-position:0px -1024px;}
.cexportTemplate {background-position:0px -1040px;}
.ceye {background-position:0px -1056px;}
.cfile {background-position:0px -1072px;}
.cfilter {background-position:0px -1088px;}
.cfolder {background-position:0px -1104px;}
.cfolder_module {background-position:0px -1120px;}
.cForm {background-position:0px -1136px;}
.cFormField {background-position:0px -1152px;}
.cFrame {background-position:0px -1168px;}
.cgeneral {background-position:0px -1184px;}
.cGenericForm {background-position:0px -1200px;}
.cgo {background-position:0px -1216px;}
.cGrid {background-position:0px -1232px;}
.cImageGallery {background-position:0px -1248px;}
.cimportTemplate {background-position:0px -1264px;}
.cinfo {background-position:0px -1280px;}
.cLang {background-position:0px -1296px;}
.cLanguageList {background-position:0px -1312px;}
.cLastContents {background-position:0px -1328px;}
.cload {background-position:0px -1344px;}
.cLog {background-position:0px -1360px;}
.cLoginForm {background-position:0px -1376px;}
.cManset {background-position:0px -1392px;}
.cMansetByGrouping {background-position:0px -1408px;}
.cMembershipForm {background-position:0px -1424px;}
.cminus {background-position:0px -1440px;}
.cmodule {background-position:0px -1456px;}
.cmodule_add {background-position:0px -1472px;}
.cmodule_delete {background-position:0px -1488px;}
.cmodule_edit {background-position:0px -1504px;}
.cNavigation {background-position:0px -1520px;}
.cNavigationWithChildren {background-position:0px -1536px;}
.cnext {background-position:0px -1552px;}
.cok {background-position:0px -1568px;}
.cpage {background-position:0px -1584px;}
.cpage_copy {background-position:0px -1600px;}
.cpage_delete {background-position:0px -1616px;}
.cpage_rename {background-position:0px -1632px;}
.cpages {background-position:0px -1648px;}
.cPageSecurity {background-position:0px -1664px;}
.cPasswordForm {background-position:0px -1680px;}
.cpaste {background-position:0px -1696px;}
.cpicture {background-position:0px -1712px;}
.cplus {background-position:0px -1728px;}
.cPoll {background-position:0px -1744px;}
.cPollAnswer {background-position:0px -1760px;}
.cPollAnswerLang {background-position:0px -1776px;}
.cPollQuestion {background-position:0px -1792px;}
.cPollQuestionLang {background-position:0px -1808px;}
.cPollResults {background-position:0px -1824px;}
.cprev {background-position:0px -1840px;}
.cProduct {background-position:0px -1856px;}
.cProductList {background-position:0px -1872px;}
.cRecommendation {background-position:0px -1888px;}
.crefresh {background-position:0px -1904px;}
.cRegionRepeater {background-position:0px -1920px;}
.csave {background-position:0px -1936px;}
.cscript {background-position:0px -1952px;}
.cSearchForm {background-position:0px -1968px;}
.cSearchResults {background-position:0px -1984px;}
.csort {background-position:0px -2000px;}
.cSource {background-position:0px -2016px;}
.cSourceDetail {background-position:0px -2032px;}
.cSourceLang {background-position:0px -2048px;}
.cSQLDataList {background-position:0px -2064px;}
.cSQLLog {background-position:0px -2080px;}
.cStaticHtml {background-position:0px -2096px;}
.cTable {background-position:0px -2112px;}
.cTabView {background-position:0px -2128px;}
.cTag {background-position:0px -2144px;}
.cTagCloud {background-position:0px -2160px;}
.cTagLang {background-position:0px -2176px;}
.cTarihSaat {background-position:0px -2192px;}
.cTemplate {background-position:0px -2208px;}
.ctree {background-position:0px -2224px;}
.cUser {background-position:0px -2240px;}
.cUserActivationForm {background-position:0px -2256px;}
.cUserComment {background-position:0px -2272px;}
.cvideo {background-position:0px -2288px;}
.cview_mode {background-position:0px -2304px;}
.cwarning {background-position:0px -2320px;}
.cWhereAmI {background-position:0px -2336px;}


/* Cinar CMS default CSS for effects */

#gogPopDiv {position:absolute; border:1px solid black; background:white; padding:10px}
#gogPopDiv img {width:auto; height:auto;}

.lightBox img {cursor:pointer}
#lightBoxDiv {position:absolute; border:1px solid black; background:white; padding:10px; text-align:center; padding-bottom:60px;}
#lightBoxDiv #lbImg {margin-bottom:10px}
#lightBoxDiv #lbPrev {position:absolute; left:0px; cursor:pointer}
#lightBoxDiv #lbNext  {position:absolute; right:0px; cursor:pointer}
#lightBoxDiv #lbCounter {margin-bottom:20px;}
#lightBoxDiv #lbLeft {position:absolute;text-align:left; padding-top:10px}
#lightBoxDiv #lbCenter {position:absolute;text-align:left; padding-top:10px}
#lightBoxDiv #lbRight {width:10%;position:absolute;text-align:right}
#lightBoxDiv #lbRight img {vertical-align:middle}
#lightBoxDiv #lbLove {cursor:pointer;}

.masonry {
	position:relative;
}
.masonry img {
	position:absolute;
}

.tag_bg {
	height:34px;
	font-size:15px;
	padding-left:24px;
	padding-top:4px;
}

.fadeShow {position:relative;}
.fadeShow .indexElms {
	position:absolute;
	z-index:3;
	right:10px;
	bottom:6px;
	cursor:pointer;
}
.fadeShow .clItem {
	position:absolute;
	left:0px;
	top:0px;
}

.fadeWithArrows {position:relative;}
.fadeWithArrows #lbPrev {
	position:absolute;
	z-index:3;
	left:0px;
	cursor:pointer;
}
.fadeWithArrows #lbNext {
	position:absolute;
	z-index:3;
	right:0px;
	cursor:pointer;
}
.fadeWithArrows .clItem {
	position:absolute;
	left:0px;
	top:0px;
}

.slideShow {
	border:1px solid #C0C0C0;
	margin-top:40px;
	padding:40px 0px;
	position:relative;
}
.slideShow .clipper {
	height:360px;
	float:left;
	position:relative;
	overflow:hidden;
}
.slideShow .clipper .innerDiv {
	height:360px;
	width:30000px;
	overflow:hidden;
	position:absolute;
	left:0px;
	top:0px;
	white-space: nowrap;
}
.slideShow .playBtn {
	position:absolute;
	right: 5px;
	bottom: 5px;
	cursor:pointer;
}
.slideShow .pauseBtn {
	position:absolute;
	right: 32px;
	bottom: 5px;
	cursor:pointer;
}
.slideShow div.paging {
	float:left;
	width:40px;
	height:360px;
	background-repeat:no-repeat;
	cursor:pointer;
}

.showDescOnImg {
	position:relative;
}
.showDescOnImg .clDesc {
	position:absolute;
	background: url("/external/icons/black_px_alpha.png") repeat scroll 0 0 transparent;
	color:white;
	padding:5px;
	cursor:pointer;
}

.mansetAktuel {
	height:250px;
	background-image:url(/UserFiles/Images/_design/manset.jpg);
}
.mansetAktuel .summary {
	float:right;
	background-color:rgba(0,0,0,0.8);
	color:white;
	width:200px;
	height:250px;
	padding:10px;
}
.mansetAktuel div.clItem {
	float:left;
	width:650px;
}
.mansetAktuel div.clSTitle {
	font-weight:bold;
	font-size:14px;
	padding-top:10px;
}
.mansetAktuel div.clCategory {
	font-weight:bold;
}
.mansetAktuel div.clPubDate {
	padding-top:10px;
}
.mansetAktuel div.clDesc {
	font-size: 12px;
	font-style: italic;
	padding-top: 10px;
}
.mansetAktuel .links {
	float:right;
	width:324px;
	padding-top:10px;
	font-weight:bold;
}
.mansetAktuel .links a {
    background: url("/UserFiles/Images/_design/ok.png") no-repeat scroll 16px 9px transparent;
    color: #FFFFFF;
    display: block;
    height: 22px;
    margin: 0;
    padding: 5px 0 0 35px;
}
.mansetAktuel .links a:hover {
    background-color: #FDB812;
    color: #000000;
    text-decoration: none;
}

.slideAll {
	height:375px;
	overflow:hidden;
	border-right:10px solid #FFF;
}
.slideAll div.clItem {
	border-left:10px solid #FFF;
	border-top:10px solid #FFF;
	border-bottom:10px solid #FFF;
	box-shadow: 0 0 30px #000000;
}
.slideAll div.clTitle {
    background:url(/external/icons/yari_seffaf.png);
    bottom: 10px;
    left: 10px;
    padding: 10px;
    position: absolute;
    right: 10px;
}
.slideAll div.clTitle a {
	color:white;
	font-size:20px;
}

#cc_edit_img_btn {
	position:absolute;
	border:2px solid orange;
	background:black;
	color:orange;
	font-family:verdana;
	font-size:10px;
	cursor:pointer;
}

.cc_edit_canvas {
    background: none repeat scroll 0 0 gray;
    border: 1px inset gray;
    height: 557px;
    margin-top: 4px;
    overflow: auto;
    width: 792px;
}