<?xml version="1.0" encoding="utf-8" ?>
<settings welcomeMediaType="photo" mediaInterval="5" logoUrl="logos/BlankLogo.png" homepageFileName="/Default.aspx" iaminUrl="logos/iamin1.png" iaminOverColor="0xFFFFFF">
	<positions playerBottomPadding="98" playerRightPadding="6" logoPos="TC" iaminPos="BC"/> 
		
	<video>
	</video>
		
	<photos>
		<photo><location>/UserFiles/intro/images/back1.jpg</location></photo>		<photo><location>/UserFiles/intro/images/back2.jpg</location></photo>		<photo><location>/UserFiles/sugar1.jpg</location></photo>	</photos>

	<trackList>
		<track><creator>01</creator><title>Micheal Jackson</title><location>/UserFiles/intro/music/music1.mp3</location></track>		<track><creator>01</creator><title>deneme 2</title><location>/UserFiles/intro/music/music1.mp3</location></track>	</trackList>
</settings>