html, body {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    background: url("/Images/cinar/design/bg_body.png") repeat scroll 0 0 #3C4145;
    font: 12px/1.5 "Helvetica Neue",Helvetica,"Lucida Sans",Arial,Tahoma,sans-serif;
}
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
	color: #AAAAAA;
}
#topbar {
    background: none repeat scroll 0 0 #222222;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    height: 8px;
    width: 100%;
}

#HeaderDiv {
    background: url("/Images/cinar/design/container_shadow_top.png") no-repeat scroll center bottom transparent;
    height: 150px;
    position: relative;
}

#aspnetForm, #FrmMaster { 
    background: url("/Images/cinar/design/bg_highlight.png") no-repeat scroll center top transparent;
	width:910px; 
	margin:0 auto;
}

#HeaderDiv h1 {display:none}
#logo {
    background: url("/Images/cinar/design/cinar_logo2.png") no-repeat scroll 0 0 transparent;
    height: 109px;
    left: 0;
    position: absolute;
    top: 20px;
    width: 207px;
}
#logo span {
    display: none;
}
#mainMenu {
    position: absolute;
    right: 0;
    top: 50px;
}
#mainMenu ul {
    height: 47px;
    list-style: none outside none;
    margin: 0;
    overflow: visible;
}
#mainMenu ul li {
    float: left;
    margin: 0 0 0 20px;
    padding-left: 5px;
}
li {
    margin-left: 30px;
}
#mainMenu ul li a {
    color: #AAAAAA;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 47px;
    text-decoration: none;
    text-shadow: 2px 2px 0 #333333;
}
#mainMenu br {display:none}

#splash { border-top: 3px solid #FF8500; }

.cbox {
    background: none repeat scroll 0 0 transparent;
    border-top: 1px solid #222222;
    display: inline;
    float: left;
    margin: 0 0 0 40px;
    overflow: hidden;
    padding: 20px 0 25px;
    width: 395px;
}
.cbox .icon {
    display: inline;
    float: left;
    width: 128px;
}
.cbox h3 {
    font-size: 16px;
    margin: 5px 0 0 140px;
}
.cbox h4 {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.1;
    margin: 0 0 10px 140px;
}
.cbox p {
    margin: 0 0 5px 140px;
    color: #AAAAAA;
    text-shadow: 1px 1px 0 #000000;
}
#DiscussLink, #HistoryLink {display:none}

.ui-dialog-title {
    color: white;
}
