<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    <add key="defaultUserName" value="" />
    <add key="defaultPassword" value="" />
    <add key="sqlConnection" value="Server=localhost;Database=cinarwinapp;Uid=root;Pwd=bk;old syntax=yes;charset=utf8"/>
    <add key="sqlProvider" value="MySQL"/>
    <add key="PlugIns" value="Cinar.WinApp.DefaultPlugIn.dll,Cinar.WinApp.MediaSearch.dll" />
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp from="a@b.com">
        <network host="host" port="25" userName="a@b.com" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  
</configuration>