<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="sqlConnection" value="Server=localhost;Database=finsfax;Uid=root;Pwd=bk;old syntax=yes;charset=utf8"/>
      <add key="sqlProvider" value="MySQL"/>
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
